<!DOCTYPE html>
<html lang="en-US"  ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>
		var app = angular.module('myApp', []);

        app.controller('myCtrl', function($scope,$http) {
            $scope.pin=0;
            $scope.location="";
            $scope.color="";
            $scope.lamps = "";


            $scope.addLamp = function(){
                        $http.get("/add?pin=" + $scope.pin + "&location=" + $scope.location + "&color=" + $scope.color)
                          .then(function(response) {
                            $scope.lamps = response.data;
                        });
            }
        });

    </script>
</head>

<body ng-controller="myCtrl">
{% verbatim %}
<div>
     <input type="text" ng-model="pin"/>
    Location :    <input type="text" ng-model="location"/>
    Color : <input type="text" ng-model="color"/>

    <button ng-click="addLamp()">Add</button>
    {{lamps}}
</div>
{% endverbatim %}

</body>



</html>